.events-row {
	height: 33vh;
}

.events_title {
	color: white;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 5em;
	display: grid;
	/* padding-left: 2em; */
	font-size: large;
	margin: auto;
}

.events_lottie {
	margin: 0em 2em;
	display: table-cell;
	text-align: center;
	padding-top: 2em;
	height: 50vh;
	width: 60vw;
}

.events_lottie div {
	margin: auto;
	width: 40vw !important;
	height: 50vh;
}

.events_content {
	display: flex;
	flex-direction: row;
	margin: auto;
	align-items: stretch;
	justify-content: space-evenly;
}

.events_tb {
	justify-content: center;
	align-items: center;
	text-align: center;
}

.events_text {
	padding: 2em 3em;
	padding-top: 7em;
	display: table-cell;
	text-align: center;
	color: white;
	margin: 2em 2em;
	font-size: 1.2em;
}

@media screen and (max-width: 1200px) {
	.events_lottie {
		/* display: none; */
		height: 20%;
	}
}

@media screen and (max-width: 600px) {
	.events_content {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.events_lottie {
		height: 40vh;
		padding-top: 0em;
	}
	.events_text {
		padding-top: 0em;
	}
}

@media screen and (max-width: 700px) {
	.events_text {
		font-size: 1.2em;
	}
}

@media screen and (min-width: 900px) {
	.events_text {
		font-size: 1.5em;
	}
}
