.mentors-row{
    height: 33vh;
}

.mentors_title{
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding-top: 5em;
    display: grid;
    /* padding-left: 2em; */
    font-size: large;
    margin: auto;
}

.mentors_lottie{
    margin: 0em 2em ;
    display: table-cell;
    text-align: center;
    padding-top: 2em;
    height: 50vh;
    width: 60vw;
}

.mentors_content{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content:space-evenly;
    text-align: center;
}

.mentors_text{
    padding: 2em 3em;
    padding-top: 7em;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    color: white;
    margin: 2em 2em ;
    font-size: 1.2em;
}


@media screen and (max-width: 1200px) {
    .mentors_lottie{
        /* display: none; */
        height: 20%;
    }
}


@media screen and (max-width: 600px) {
    .mentors_content{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .mentors_lottie{
        height: 40vh;
        padding-top: 0em;
        padding-bottom: 0em;
        /* width: 90vw; */
    }
    .mentors_text{
        padding-top: 0em;
    }
}

@media screen and (max-width: 700px) {
    .mentors_text{
        font-size: 1.2em;
    }
}

@media screen and (min-width: 900px) {
    .mentors_text{
        font-size: 1.5em;
    }
}

.nav{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav_ul {
    list-style-type: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    /* margin: 0;
    padding: 0; */
}

.nav_ul_li {
    --c:#ff8a71;
    color: var(--c);
    font-size: 16px;
    border: 0.1em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    /* font-weight: bold; */
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

.nav_ul_li_span {
    position: absolute;
    /* width: 25%; */
    height: 100%;
    background-color: var(--c);
    transform: translateX(0%);
    border-radius: 0%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.nav_ul_li:hover {
    color: black;
}

.nav_ul_li:hover span {
    transform: translateX(0) scale(10);
    width: 25%;
}

.nav_ul_li span:nth-child(1) {
    --n: 1;
}


.mentors_tb_container{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.mentors_tb{
    align-items: center;
    text-align: center;
    justify-content: center;
}